:root {
  --color-primary: #0f131a;
  --color-primary-hover: #1a1d24;
  --color-secondary: #f44336;
  --color-white: #e9ebf0;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}
.bg-primary-hover {
  background-color: var(--color-primary-hover) !important;
}
.bg-secondary {
  background-color: var(--color-secondary) !important;
}
.bg-white {
  background-color: var(---color-white) !important;
}
.color-primary {
  color: var(--color-primary) !important;
}
.color-secondary {
  color: var(--color-secondary) !important;
}
.color-white {
  color: var(---color-white) !important;
}
